{% extends 'main.html' %}

{% block title %} Edit profile: {{profile.user.username}} {% endblock %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data" class="form-box">
    {% csrf_token %}
    <div class="form-header">
        <header>Edit {{profile.user.username}}</header>
    </div>
    {% for field in form %}
        <div class="input-box">
            {{field}}
        </div>
    {% endfor %}
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %}class="{{message.tags}}" {% endif %}>{{message}}</div>
        {% endfor %}
    {% endif %}
    <div class="input-submit">
        <button class="submit-btn" id="submit"></button>
        <label for="submit">Save</label>
    </div>
</form>
{% endblock %}